<% content_for :title do %>gutenberg.cs.moravian.edu<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="Text" data-title="Printer Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <h3> gutenberg.cs.moravian.edu</h3>
	<div data-id="videostream" data-view="Iframe" data-url="http://gutenberg.cs.moravian.edu:8080/?action=stream"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="progress" data-view="Meter" data-title="Progress" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="remaining" data-view="Countdown" data-title="Estimated Time Remaining"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="elapsed" data-view="Countdown" data-title="Elapsed Time"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job_name" data-view="Text" data-title="Job Name"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ex1temp" data-view="Temps" data-title="Extruder 1 Temperature"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ex2temp" data-view="Temps" data-title="Extruder 2 Temperature"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedtemp" data-view="Temps" data-title="Bed Temperature"></div>
    </li>
  </ul>
</div>
